.remodal-video {
    margin-bottom: 0px;
    padding: 0px;
    background: none;
    //.remodal-close, .remodal-close:before {
    //    color: #fff;
    //    top: -25px;
    //    right: -25px;
    //    left: initial;
    //    background: black;
    //    border: 5px solid #fff;
    //    box-sizing: content-box;
    //    border-radius: 50%;
    //}
}
